# .gitignore

# Standard Extensions

# Object Files
*.o
*.lo

# Libraries
*.a
*.la

# Executables
*.elf
*.out

# Dynamic Libraries
*.so
*.so.*

# Kernel Objects
*.ko

# Binary Information
*.srec
*.bin
*.hex

# Disk Images
*.img
*.iso

# Cinnabar Extensions

# Application Object
*.app
# Dependency Object
*.dpo
# Entitlement Certificate
*.tik
# Metadata Table
*.mdt
# Configuration Table
*.cft
# Installable Archive
*.ipk
# Executable Image
*.xi
# Linkable Image
*.li
# Resource Image
*.ri
# Media Image
*.mi
